fastapi
uvicorn

pypdf
pandas
python-docx

langchain
langgraph
langsmith
langchain-groq
python-dotenv

langchain-community
langchain-huggingface

sentence-transformers

rank_bm25

chromadb

openai

sqlalchemy
psycopg2-binary

python-dotenv

pydantic

pandas

tiktoken

pytest
ruff
black

# Evaluation
ragas
datasets
nest-asyncio